:root {
  --primary-text-color: #757575; /**/
  --title-text-color: #212121; /**/
  --accent-color: #2196f3; /**/
  --main-white-color: #ffffff; /*main bg, active btn text, primary text color on dark bg*/
  --dark-bg-color: #2f303a; /**/
  --secondary-accent-color: #f5f4fa; /*our team section, unactive btns*/
  --footer-address-secondary-color: rgba(255, 255, 255, 0.6); /**/
  --main-black-color: #000000; /*header logo*/
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-white-color);
  color: var(--primary-text-color);
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.title {
  color: var(--title-text-color);
}

/* --------------HEADER----------------- */

.logo-link {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--main-black-color);
}

.logo-accent {
  color: var(--accent-color);
}

.navigation-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.header-list-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/* --------------HERO----------------- */

.hero-section,
.footer {
  background-color: var(--dark-bg-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-white-color);
}

.btn {
  font-family: inherit;
  /* font-style: normal; */
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: #ffffff;
}

/* --------------FEATURES----------------- */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.feature-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-text {
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

/* --------------WHATWEDO----------------- */

.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* --------------OURTEAM----------------- */

.gray-background-section {
  background-color: var(--secondary-accent-color);
}

.team-card {
  background-color: var(--main-white-color);
}

.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.member-job-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.abbreviation {
  text-decoration: none;
}

/* --------------FOOTER----------------- */

.footer .logo-link {
  color: var(--main-white-color);
}

.address-list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-address-secondary-color);
}

.map-position {
  color: var(--main-white-color);
}
